.first-name {
    margin-bottom: 4px;
}
.second-name {
    margin-top: 4px;
}
.horizontal-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    hr {
        width: 20%;
    }
}

.ampersand {
    margin: 0;
    font-weight: lighter;
}