
* {
    font-family: $serif;
}

h1,h2,h3,h4,h5,h6,.serif {
    font-family: $serif;
}

.uppercase {
    text-transform: uppercase;
}
.lighter {
    font-weight: lighter;
}
.padding {
    padding: 14px;
}
.padding-10 {
    padding: 10px;
}
.text-button {
    font-size: 24px;
    border: 1px solid $darker-green;
    padding: 4px 48px;
    background: transparent;
    margin-bottom: 8px;
}
.smaller {
    font-size: 14px;
}