body {
    margin: 0; padding: 0;
}

.app-background {
    background: $lighter-green;
    color: $white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.multi-view {
    background: #fff;
    min-height: 80vh;
    width: 680px;
    color: $darker-green;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;

    .-dots {
        display: flex;
        align-items: center;
        min-width: 50%;
        justify-content: space-evenly;
        .dot {
            &:hover {
                border-bottom: 1px solid $darker-green
            }

            &.active {
                border-bottom: 1px solid $darker-green;
            }
        }
    }

    .multi-view-wrapper {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .arrow-button {
        border: 1px solid $darker-green;
        background: transparent;
        height: min-content;
        padding: 16px 8px;
        font-size: 16px;
    }
}

img.plant{
    position: absolute;
    &.right {
        top: 5%;
        @media screen and (min-width: 1600px) {
            right: 20%;
        }
        @media screen and (min-width: 1200px) and (max-width: 1599px) {
            right: 10%;
        }
        @media screen and (min-width: 1000px) and (max-width: 1199px) {
            right: 7.5%;
        }
        @media screen and (min-width: 721px) and (max-width: 999px) {
            right: -40px;
        }
        @media screen and (max-width:720px) {
            top:-10%;
            right: -20px;
        }
    }
}