.single-user {
    position: relative;
    .remove-button {
        position: absolute;
        top: -5px;
        right: 0;

        font-family: $serif;
        background: transparent;
        border: 0;
        font-size: 32px;
    }
    .input-group {
        padding: 8px 16px;
        display: flex;
        justify-content: space-evenly;

        label {
            width: 25%;
            text-align: right;
        }
        input {
            width: 45%;
            border: 0;
            border-bottom: 1px solid #fff;
            transition: 0.25s border-bottom-color;
            color: $darker-green;

            &:hover, &:focus {
                border-bottom: 1px solid $lighter-green;
            }
            &:disabled {
                border-bottom: 0;
            }
        }
    }
    input, label {
        font-family: $serif;
    }
}