// Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$serif: "Playfair Display", serif;
$sans : "Roboto", helvetica, sans-serif;

// Colours:
$lighter-green: #B0AFAA;
$darker-green: #4E4B44;
$white: #fff;