<template>
    <div class="annoucement">
        <p class="uppercase serif">
            Dudes, we are totally stoked to announce
        </p>
        <div class="serif uppercase">
            <h1 class="first-name lighter">Chantelle</h1>
            <div class="horizontal-flex lighter">
                <hr>
                <h1 class="ampersand">
                    &
                </h1>
                <hr>
            </div>
            <h1 class="second-name lighter">Kevin</h1>
        </div>
        <h2 class="lighter">are getting married!</h2>
        <h1 class="lighter serif">02 - 11 - 20</h1>
        <p class="serif">
            Lyrebird Falls - 175 Monbulk Road <br>
            Kallista, 3791 Victoria
        </p>
        <div class="padding"></div>
        <button class="serif lighter text-button" @click="goToRSVP">
            RSVP
        </button>
    </div>
</template>

<script>
    export default {
        methods: {
            goToRSVP(){
                this.$parent.goToSlotAtName("RSVP");
            }
        }
    }
</script>