<template>
    <div class="info">
        <div class="horizontal-flex lighter">
            <hr>
            <h1 class="ampersand">
                INFORMATION
            </h1>
            <hr>
        </div>
        <div class="padding"></div>
        <div class="info-wrapper lighter">
            <p>Our wedding will be held at Lyrebird Falls</p>
            <p>25 Address Way, <br> Location, 3036</p>
            <p>at</p>
            <p>Two O'Clock, second of november <br> the Year of our Lord two-thousand and twenty</p>
        </div>
    </div>
</template>