<template>
    <div>
        <div class="multi-view">
            <button class="left arrow-button" @click="decrement">&lt;</button>
            <div class="multi-view-wrapper">
                <slot v-if="selectedName" :name="selectedName"></slot>

                <div class="-dots">
                <span v-for="(comp, name) in $slots" @click="goToSlotAtName(name)" :class="{ active: selectedName == name }" class="dot">
                    &#8226;
                </span>
                </div>
            </div>
            <button class="right arrow-button" @click="increment">&gt;</button>
        </div>
        <img src="/images/right-leaf.png" class="right plant">
    </div>
</template>

<script>
    export default {
        name: 'LeftRightMultiView',
        mounted() {
            this.selectedIndex = this.middleIndex();
            this.selectedName = Object.keys(this.$slots)[Math.floor(this.selectedIndex)];
        },
        data : () => ({
            selectedName: '',
            selectedIndex: 0
        }),

        methods: {
            slotsLength(){
                return Object.keys(this.$slots).length;
            },

            middleIndex(){
                let length = this.slotsLength();
                let middleIndex = 0;
                length % 2 === 0
                    ? middleIndex = length / 2
                    : middleIndex = (length + 1) / 2;
                return Math.floor(middleIndex - 1);
            },

            increment(){
                let length = this.slotsLength();
                if ( this.selectedIndex + 1 < length) {
                    this.selectedIndex++;
                    this.selectedName = Object.keys(this.$slots)[this.selectedIndex];
                }
            },

            decrement(){
                if (this.selectedIndex - 1 >= 0) {
                    this.selectedIndex--;
                    this.selectedName = Object.keys(this.$slots)[this.selectedIndex];
                }
            },

            goToSlotAtName(name) {
                Object.keys(this.$slots).forEach((compName, index) => {
                   if(compName === name) {
                       this.selectedIndex = index;
                       this.selectedName = compName;
                   }
                });
            }
        }
    }
</script>