<template>
    <div class="rsvp-form">
        <div class="horizontal-flex lighter">
            <hr>
            <h1 class="ampersand">
                RSVP
            </h1>
            <hr>
        </div>
        <div class="padding"></div>
        <div class="users-wrapper">
            <div v-for="(user, index) in users" class="single-user" :class="{'active': index === users.length - 1}" >
                <button v-if="index !== 0"
                        class="remove-button"
                        @click="deleteUser(index)">
                    &times;
                </button>
                <div v-if="index === (users.length - 1)">
                    <user-form :user="user">
                    </user-form>
                    <div class="padding-10">
                    </div>
                </div>
                <div v-else class="input-group">
                    <label for="name">{{ordinal(index + 1)}} guest</label>
                    <input id="name" name="name" type="text"  disabled :value="user.name">
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="lighter serif text-button smaller" @click="addUser">
                One more guest
            </button>
            <button class="lighter serif text-button smaller" @click="saveUsers">
                Submit
            </button>
        </div>
    </div>
</template>

<script>
    import User from '../classes/User';
    import UserForm from "./UserForm";


    export default {
        components: {
            'user-form': UserForm,
        },
        name: 'RSVP',
        data() {
            return {
                users : [new User()],
                loading: false,
            }
        },

        methods: {
            addUser(){
                if(this.users.length < 5 ) {
                    let firstUser = this.users[0];
                    this.users.push(new User({addedBy: firstUser}));
                }
            },

            deleteUser(index){
                this.users.splice(index, 1);
            },

            saveUsers(){
                this.loading = true;
                User.bulkSave(this.users)
                    .then(() => {
                        this.loading = false;
                        this.users = [new User()];
                    })
                    .catch(err => console.error(err));
            },

            ordinal(int) {
                if(int === 1) {
                    return "First";
                } else if (int === 2) {
                    return "Second"
                } else if (int === 3) {
                    return "Third"
                } else if (int === 4) {
                    return "Fourth"
                } else if (int === 5) {
                    return "Five"
                }
            }
        }
    }
</script>