<template>
    <div class="user-form">
        <div class="input-group">
            <label for="name">Full Name:</label>
            <input id="name" name="name" type="text" v-model="user.name" placeholder="Grainselby Whaterhousington">
        </div>
        <div class="input-group">
            <label for="dietaries">Dietary Requirements:</label>
            <input id="dietaries" type="text" name="dietaries" v-model="user.value" placeholder="Oh, please darling, no pistachioes.">
        </div>
        <div class="input-group">
            <label for="songRequest">Song Request:</label>
            <input type="text" id="songRequest" name="songRequest" v-model="user.songRequest" placeholder="Hail, Cork-Master!">
        </div>
    </div>
</template>

<script>
    export default {
        name: 'user-form',
        props: ['user'],
    }
</script>