<template>
    <div class="app-background">
        <LeftRightMultiView>
            <div class="RSVP" slot="RSVP">
                <RSVP></RSVP>
            </div>
            <div class="Annoucement" slot="Annoucement">
                <Announcement></Announcement>
            </div>
            <div class="Info" slot="Info">
                <Info></Info>
            </div>
        </LeftRightMultiView>
    </div>
</template>

<script>
    import LeftRightMultiView from './components/LeftRightMultiView';
    import Announcement from './components/Announcement';
    import "./assets/scss/main.scss";
    import RSVP from "./components/RSVP";
    import Info from "./components/Info";

    export default {
        name: 'app',
        components: {
            Announcement,
            LeftRightMultiView,
            RSVP,
            Info
        },
    }
</script>
